include "/usr/share/nano/*.nanorc"
set constantshow
set nonewlines
set softwrap
set tabsize 4
set tabstospaces
set titlecolor white,blue
set statuscolor white,black
set selectedcolor white,black
set keycolor white,black
set errorcolor red,black
