<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><execute>alacritty</execute></action>
  </item>
  <item label="Web browser">
    <action name="Execute"><execute>firefox</execute></action>
  </item>
  <menu id="app-menu" label="Applications">
	<item label="Alacritty">
          <action name="Execute"><execute>alacritty</execute></action>
        </item>
    <item label="Audacious">
          <action name="Execute"><execute>audacious</execute></action>
        </item>
    <item label="Discord">
          <action name="Execute"><execute>discord</execute></action>
        </item>
    <item label="DOSBox">
          <action name="Execute"><execute>dosbox</execute></action>
        </item>
    <item label="FeatherPad">
          <action name="Execute"><execute>featherpad</execute></action>
        </item>
  	<item label="Firefox">
	  <action name="Execute"><execute>firefox</execute></action>
		</item>
	<item label="Flameshot">
          <action name="Execute"><execute>flameshot</execute></action>
        </item>
	<item label="galculator">
          <action name="Execute"><execute>galculator</execute></action>
        </item>
    <item label="GIMP">
          <action name="Execute"><execute>gimp</execute></action>
        </item>
    <item label="GParted">
          <action name="Execute"><execute>gparted</execute></action>
        </item>
    <item label="GPicView">
          <action name="Execute"><execute>gpicview</execute></action>
        </item>
    <item label="LibreOffice">
          <action name="Execute"><execute>libreoffice</execute></action>
        </item>
    <item label="Lutris">
          <action name="Execute"><execute>lutris</execute></action>
        </item>
    <item label="LXAppearance">
          <action name="Execute"><execute>lxappearance</execute></action>
        </item>
    <item label="LXRandr">
          <action name="Execute"><execute>lxrandr</execute></action>
        </item>
    <item label="LXTask">
          <action name="Execute"><execute>lxtask</execute></action>
        </item>
    <item label="Microsoft Teams">
          <action name="Execute"><execute>teams</execute></action>
        </item>
	<item label="OBS Studio">
          <action name="Execute"><execute>obs</execute></action>
        </item>
    <item label="Pavucontrol">
          <action name="Execute"><execute>pavucontrol</execute></action>
        </item>
    <item label="Steam">
          <action name="Execute"><execute>steam</execute></action>
        </item>
    <item label="SuperTux">
          <action name="Execute"><execute>supertux2</execute></action>
        </item>
	<item label="VirtualBox">
          <action name="Execute"><execute>virtualbox</execute></action>
        </item>
	<item label="Visual Studio Code">
          <action name="Execute"><execute>code</execute></action>
        </item>
	<item label="VLC">
          <action name="Execute"><execute>vlc</execute></action>
        </item>
	<item label="XArchiver">
          <action name="Execute"><execute>xarchiver</execute></action>
        </item>
  </menu>
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Lock screen">
    <action name="Execute"><execute>slock</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
